*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#form{
    width: 25%;
    margin: 250px auto;
    background-color: aliceblue;
    padding: 10px  30px;
}
body{
    background-color: ;
}
form input{
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
}
input[type="text"]{
    border: 1px solid blue;
    outline:1px solid lightblue ;
    border-radius: 8px;
    caret-color: blue;
}
input[type="password"]{
    border: 1px solid linen;
    border-radius: 8px;    
}
input[type="password"]:focus{
    border: 1px solid blue;
    outline:1px solid lightblue ;
    border-radius: 8px;
    caret-color: blue;
}
input[typ="button"]{
    border: none;
    border-radius: 8px;
    color: #fff;
    background-color: blue;
}
a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: skyblue;
    margin-bottom: 10px;
}
